<div class = "wrapper-center post-index-wrapper">
  <div class = "container">
   <% @posts.each do |post| %>
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <%= post.user.name %>
        <%= link_to post.title,post_path %>
      </div>
    </div>
    <% end %>
  </div>
</div>